@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Happy+Monkey&family=PT+Sans+Narrow&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62, 5%; }

* {
  box-sizing: border-box; }

header nav a {
  text-decoration: none;
  font-size: medium;
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.5rem;
  font-weight: bold; }

header .boton {
  color: #19886c; }

body {
  background-image: url(../assets/images/fondopantalla.png);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

main .card {
  background-color: #b3dcf0f1;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 0%; }

main .Cuadro {
  background-color: rgba(11, 255, 255, 0.527) !important; }

main .img-fluid {
  object-fit: cover; }

main .offcanvas-body,
main .offcanvas-title,
main .offcanvas-header {
  background-color: #f1fabe; }

main .tarjetas {
  margin-top: 5%;
  margin-left: 0%;
  margin-right: 0%; }

main .Mapa {
  display: flex;
  justify-content: center;
  align-items: center; }

main .form-floating {
  background-color: #bef4f8;
  border-color: #5fc6e686; }

main .input-group-text {
  background-color: #bef4f8;
  border-color: #5fc6e686; }

main .form-control {
  background-color: #bef4f8;
  border-color: #5fc6e686; }

main .form-select {
  background-color: #bef4f8;
  border-color: #5fc6e686; }

.piePagina {
  background-color: rgba(230, 82, 247, 0.445);
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 30px;
  text-align: center;
  color: #726565; }
  .piePagina .Facebook {
    font-size: 2rem;
    justify-content: center;
    color: #0a4194; }
  .piePagina .instagram {
    font-size: 2rem;
    justify-content: center;
    color: #9f10ac; }

h1 {
  color: #57557a;
  font-size: 4rem;
  font-family: "Amatic Sc";
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px; }

h2 {
  color: #57557a;
  font-size: 4rem;
  font-family: "Amatic Sc";
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px; }

h3 {
  font-size: medium; }

h5 {
  color: #57557a;
  font-size: 1rem;
  font-weight: bold;
  text-align: center; }

.textoVerde {
  color: blueviolet;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 2;
  font-weight: bolder;
  position: sticky;
  content: none;
  justify-content: center;
  font-size: x-large;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  flex-wrap: wrap;
  background-size: cover; }

.Sub2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold; }

.textoConsulta {
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: #372958; }

.info {
  font-size: larger;
  font-weight: bold; }

.titulo {
  color: #57557a; }

.texto {
  color: #372958;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 2;
  content: none;
  justify-content: center;
  font-size: large; }
