header {
    nav a {
      text-decoration: none;
      font-size: medium;
      font-family: 'Amatic SC', sans-serif;
      font-size: 1.5rem;
      font-weight: $fuente-typo;
      }
    .boton{
    color:rgb(25, 136, 108);}
    }
  