

h1 {
  color: map-get($titulos, color);
  font-size: $fuente-normal*2;
  font-family: map-get($titulos, font-family);
  font-weight: map-get($titulos, fuente);
  text-align: map-get($titulos, text-aling);
  @include top-left-right (40px, 0px, 0px);
  
  }
  
  h2 {
    color: map-get($titulos, color);
    font-size: $fuente-normal*2;
    font-family: map-get($titulos, font-family);
    font-weight: map-get($titulos, fuente);
    text-align: map-get($titulos, text-aling);
    @include top-left-right (40px, 0px, 0px);
  }
  
  h3 {
    font-size: medium;
  }
  
  h5 {
    color: $color-primario;
    font-size: 1rem;
    font-weight: $fuente-typo;
    text-align: $text;
  }
  
  .textoVerde {
    color:blueviolet;
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 2;
    font-weight: bolder;
    position: sticky;
    content: none;
    justify-content: $text;
    font-size: x-large;
    @include top-left-right (10px, 40px, 40px);
    flex-wrap: wrap;
    background-size: cover;
  }
  
  
  .Sub2 {
    text-align: $text;
    font-size: $fuente-normal;
    font-weight: $fuente-typo;
  }
  
  .textoConsulta {
    text-align: $text;
    font-size: large;
    font-weight: $fuente-typo;
    color:$color-secundario;
  }
  
  .info {
    font-size: larger;
    font-weight: $fuente-typo;
  }
  
  .titulo {
    color: $color-primario;
  }
  
  .texto {
    color:$color-secundario;
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 2;
    content: none;
    justify-content: $text;
    font-size: large;
  }