$tipografia-general: 'Amatic SC', sans-serif;
$tipografia-alternativa: 'PT Sans Narrow', sans-serif;
$color-primario: #57557a;
$color-secundario: #372958;
$color-terciario: #5fc6e686;
$color-cuaternario: #bef4f8;
$fuente-normal: 2rem;
$fuente-typo: bold;
$text:center;

$titulos:(
color: #57557a,
fuente: bold,
text-aling: center,
font-family: 'Amatic Sc');

