@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Happy+Monkey&family=PT+Sans+Narrow&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62, 5%;
}

* {
    box-sizing: border-box;
}

header {
    .container {
        display: flex;
        justify-content: flex-end;

        .nav ul li a {
            display: flex;
            text-decoration: none;
            font-size: medium;
            font-family: 'Amatic SC', sans-serif;
            font-size: 1.5rem;
            font-weight: bold;

            .navbar {
                display: flex;
                text-decoration-color: #6210ee;

                .nav-link {
                    color: #560cb8;
                    background-color: rgba(230, 82, 247, 0.445);

                .navbar-toggler{
                color: #131313;
                    }
                }
            }
        }
    }
}



/*
nav a {
    text-decoration: none;
    font-size: medium;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {
    display: flex;
    text-decoration-color: #6210ee;
}

.nav-link {
    color: #560cb8;
    background-color: rgba(230, 82, 247, 0.445);
}
*/

.container-fluid {
    background-color: rgba(230, 82, 247, 0.445);
}



h1 {
    color: rgb(87, 85, 122);
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin-left: 60px;
    margin-top: 40px;
    text-align: center;
}


h2 {
    color: rgb(161, 56, 144);
    font-size: 4rem;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

h3 {
    font-size: medium;
}

h5 {
    color: rgb(87, 85, 122);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.Subtitulo {
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
}

.textoVerde {
    color: rgb(55, 41, 88);
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 3;
    font-weight: bolder;
    position: sticky;
    content: none;
    justify-content: center;
    font-size: x-large;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    flex-wrap: wrap;
    background-size: cover;
}


body {
    background-image: url(../assets/images/fondopantalla.png);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.principal {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.Galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

}

.Foto {
    border: 1px solid rgb(162, 179, 255);
    justify-content: center;

}

.piePagina {
    background-color: rgba(230, 82, 247, 0.445);
    margin-top: 40px;
    padding: 30px;
    text-align: center;
    color: black;
}


.instagram {
    font-size: 2rem;
    justify-content: center;
    color: black;
}

.Facebook {
    font-size: 2rem;
    justify-content: center;
    color: black;
}

.tarjetas {
    margin-top: 5%;
}

.texto {
    color: rgb(55, 41, 88);
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 2;
    content: none;
    justify-content: center;
    font-size: large;
}

.card {
    background-color: #b3dcf0f1;
    margin-left: 10%;
}

.btn,
form {
    border-color: #5fc6e686;
    background-color: rgb(190, 244, 248);
    color: #131313;
}

.form-floating {
    background-color: rgb(190, 244, 248);
    border-color: #5fc6e686;
}

.input-group-text {
    background-color: rgb(190, 244, 248);
    border-color: #5fc6e686;
}

.form-control {
    background-color: rgb(190, 244, 248);
    border-color: #5fc6e686
}

.form-select {
    background-color: rgb(190, 244, 248);
    border-color: #5fc6e686
}

.Contacto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Mapa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sub2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.textoConsulta {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: rgb(55, 41, 88);
}

.info {
    font-size: larger;
    font-weight: bold;
}

